.btn {
  &--reset {
    height: 30px;
    width: 75px;

    //Background & border
    border-radius: 15px;
    background-color: transparent;
    border: solid 1px $color-light;

    // Font
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.67;
    color: $color-text;
    cursor: pointer;

    &:hover {
      background-color: $color-light;
      color: $color-secondary;
    }

    &:focus {
      outline: none;
    }
  }
}
