.form {
  i {
    display: inline-block;
    font-size: 1.4rem;
    color: $color-secondary;
  }
  .i__card {
    display: inline-block;
    font-size: 1.4rem;
    color: $color-light;
    margin-right: 9px;
    font-size: 22px;
  }
  .arrow {
    font-size: 1.125rem;
    color: $color-text;
    margin-left: auto;
    line-height: 1.5;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    padding-left: 10px;
    &::placeholder {
      color: $color-placeholder;
    }
  }
  label {
    color: $color-primary;
    padding-bottom: 7px;
  }

  .wrapper {
    padding: 27px 20px 30px 20px;

    @include tablet {
      padding: 27px 30px 30px 40px;
    }
  }
}

.design {
  border-bottom: 1px solid $color-border;
  .container__design {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;

    &--title {
      display: flex;

      h3 {
        text-transform: uppercase;
        color: $color-text;
        font-size: 18px;
        margin-left: 10px;
      }
    }
  }
  label {
    text-transform: uppercase;
    font-size: 14px;
  }
  .palettes__container {
    display: flex;
    justify-content: space-between;
    label {
      padding-top: 22px;
    }
    input {
      display: inline-block;
    }
    .palette__color {
      display: inline-block;
      height: 25px;
      width: 30px;
    }
    .palettes__options {
      .option {
        display: flex;
        align-items: center;
        margin: 20px 0px 20px 20px;

        input {
          margin-right: 10px;
        }
      }
      .option1 {
        margin-top: 31px;
        .palette__color:nth-child(1n) {
          background-color: $color-palete1-normal;
        }
        .palette__color:nth-child(2n) {
          background-color: $color-primary;
        }
        .palette__color:nth-child(4n) {
          background-color: $color-palete1-light;
        }
      }
      .option2 {
        .palette__color:nth-child(1n) {
          background-color: $color-palete2-normal;
        }
        .palette__color:nth-child(2n) {
          background-color: $color-palete2-dark;
        }
        .palette__color:nth-child(4n) {
          background-color: $color-palete2-light;
        }
      }
      .option3 {
        .palette__color:nth-child(1n) {
          background-color: $color-palete3-normal;
        }
        .palette__color:nth-child(2n) {
          background-color: $color-palete3-dark;
        }
        .palette__color:nth-child(4n) {
          background-color: $color-palete3-light;
        }
      }
    }
  }
}

.fill {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-border;
  .container__fill {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;

    &--title {
      display: flex;
      h3 {
        text-transform: uppercase;
        color: $color-text;
        font-size: 18px;
        margin-left: 10px;
      }
    }
  }
  input {
    font-size: 14px;
    line-height: 30px;
    border: 1px solid $color-palete1-light;
    &:focus {
      border: 1px solid $color-palete1-light;
      outline: none;
      box-shadow: 0 0 4px 0 rgba($color-palete1-light, 0.9);
    }
  }
  .container-image {
    display: flex;
    margin-top: 7px;

    .btn-addimage {
      display: flex;
      justify-content: center;
      align-items: baseline;
      width: 140px;
      height: 30px;
      background-color: $color-secondary;
      color: $color-light;
      border-radius: 3px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
      // padding: 3px 22px 7px; Mirar padding
    }

    .btn-tickimage {
      border: 1px solid $color-palete1-light;
      height: 30px;
      width: 30px;
      margin-left: 20px;
      .btn-selectfile {
        display: inline-block;
        width: 30px;
      }
    }
  }
  label {
    font-size: 14px;
    margin-top: 20px;
  }
}
.share {
  border-bottom: 1px solid $color-border;

  &__container--title {
    padding: 10px 0px;
    display: flex;

    h3 {
      text-transform: uppercase;
      color: $color-text;
      font-size: 18px;
      margin-left: 10px;
    }
  }
  &__container {
    .button__card {
      display: flex;
      justify-content: center;
      color: $color-light;
      font-size: 18px;
      //background-color: $color-secondary;
      font-weight: 600;
      height: 50px;
      width: 199px;
      border-radius: 12px;
      box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
      margin: 30px auto;
      &--enable {
        background-color: $color-secondary;
      }
      &--disable {
        background-color: $color-disable-btn;
      }
    }
  }
}

.carddone {
  border-bottom: 1px solid $color-border;
  text-align: center;
  h3 {
    color: $color-text;
    font-size: 18px;
    margin: 20px auto 5px;
  }
  .link__card {
    display: block;
    color: $color-secondary;
    font-size: 12px;
    font-weight: 600;
  }
  .button__twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-light;
    font-size: 14px;
    background-color: $color-button-twitter;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    height: 30px;
    width: 181px;
    margin: 10px auto 30px;
    line-height: 1.43;

    .twitter-icon {
      font-size: 18px;
      color: $color-light;
      margin-right: 9.5px;
    }
  }
}
