.form {

    margin-top: 0;

    @include tablet {
        margin-top: 0;
    }
  i {
    display: inline-block;
    font-size: 1.4rem;
    color: $color-secondary;
  }
  .i__card {
    display: inline-block;
    font-size: 1.4rem;
    color: $color-light;
    margin-right: 9px;
    font-size: 22px;
  }
  .arrow {
    font-size: 1.125rem;
    color: $color-text;
    margin-left: auto;
    line-height: 1.5;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
    }
  }

  .arrow-active {
    transform: rotateX(180deg);
    color: $color-secondary;
  }

  input {
    padding-left: 10px;
    &::placeholder {
      color: $color-placeholder;
    }
  }
  label {
    color: $color-primary;
    padding-bottom: 7px;
  }

  h3 {
    cursor: pointer;
  }

  .wrapper {
    padding: 27px 20px 30px 20px;

    @include tablet {
      padding: 27px 30px 30px 40px;
    }
  }
}

.design {
  border-bottom: 1px solid $color-border;
  .container__design {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;

    &--title {
      display: flex;

      h3 {
        text-transform: uppercase;
        color: $color-text;
        font-size: 18px;
        margin-left: 10px;
      }
    }
  }
  label {
    text-transform: uppercase;
    font-size: 14px;
  }
  .palettes__container {
    display: flex;
    justify-content: space-between;
    span {
      padding-top: 22px;
    }
    input {
      display: inline-block;
    }
    .palette__color {
      display: inline-block;
      height: 25px;
      width: 30px;
    }
    .palettes__options {
      .option {
        display: flex;
        align-items: center;
        margin: 20px 0px 20px 20px;

        input {
          margin-right: 10px;
        }

        label {
          display: flex;
          align-items: center;
        }
      }
      .option1 {
        margin-top: 31px;
        .palette__color:nth-child(1n) {
          background-color: $color-palete1-normal;
        }
        .palette__color:nth-child(2n) {
          background-color: $color-primary;
        }
        .palette__color:nth-child(4n) {
          background-color: $color-palete1-light;
        }
      }
      .option2 {
        .palette__color:nth-child(1n) {
          background-color: $color-palete2-normal;
        }
        .palette__color:nth-child(2n) {
          background-color: $color-palete2-dark;
        }
        .palette__color:nth-child(4n) {
          background-color: $color-palete2-light;
        }
      }
      .option3 {
        .palette__color:nth-child(1n) {
          background-color: $color-palete3-normal;
        }
        .palette__color:nth-child(2n) {
          background-color: $color-palete3-dark;
        }
        .palette__color:nth-child(4n) {
          background-color: $color-palete3-light;
        }
      }
      .option4 {
        .palette__color:nth-child(1n) {
          background-color: $color-palete4-normal;
        }
        .palette__color:nth-child(2n) {
          background-color: $color-palete4-dark;
        }
        .palette__color:nth-child(4n) {
          background-color: $color-palete4-light;
        }
      }
    }
  }
}

.fill {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-border;

  .container__fill {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;

    &--title {
      display: flex;
      h3 {
        text-transform: uppercase;
        color: $color-text;
        font-size: 18px;
        margin-left: 10px;
      }
    }
  }

  .fill-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    transition: all 0.5s ease;

    .btn-container {
      position: relative;
      display: flex;
      cursor: pointer;
    }

    .btn-addimage {
      width: 140px;
      height: 30px;
      background-color: $color-secondary;
      color: $color-light;
      border-radius: 3px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
      border: 0;
      font-size: 14px;
      cursor: pointer;
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 10px;
      width: 140px;
      opacity: 0;
      cursor: pointer;

      &:hover ~ .btn-addimage {
        background-color: $color-palete4-light; //$color-palete2-light;
      }
    }

      .action__image-preview{
        display: flex;
        position:relative;
      }
      .action, .profile {
          display: inline-block;
      }
      .profile__preview {
        border: 1px solid $color-palete1-light;
        height: 30px;
        width: 30px;
        margin-left: 20px;
        display: inline-block;
        background-size: cover;
        background-position: center;
      }


  }

  input {
    font-size: 14px;
    line-height: 30px;
    border: 1px solid $color-palete1-light;
    &:focus {
      border: 1px solid $color-palete1-light;
      outline: none;
      box-shadow: 0 0 4px 0 rgba($color-palete1-light, 0.9);
    }
  }
  .container-image {
    display: flex;
    margin-top: 7px;

    .btn-tickimage {
      border: 1px solid $color-palete1-light;
      height: 30px;
      width: 30px;
      margin-left: 20px;
      .btn-selectfile {
        display: inline-block;
        width: 30px;
        cursor: pointer;
      }
    }
  }
  label {
    font-size: 14px;
    margin-top: 20px;
  }
}
.share {
  border-bottom: 1px solid $color-border;
  &__container {
    &--title {
      padding: 10px 0px;
      display: flex;

      h3 {
        text-transform: uppercase;
        color: $color-text;
        font-size: 18px;
        margin-left: 10px;
      }
    }

    &--button {
      .button__card {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-light;
        font-size: 18px;
        //background-color: $color-secondary;
        font-weight: 600;
        height: 50px;
        width: 199px;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
        margin: 30px auto;
        border: none;
        cursor: pointer;
      }
      .btn--enable {
        background-color: $color-secondary;
      }
      .btn--disable {
        background-color: $color-disable-btn;
        cursor: not-allowed;
      }
    }
  }
}

// FOCUS OUTLINE
.button__card:focus {
  outline: none;
}

.carddone {
  border-bottom: 1px solid $color-border;
  text-align: center;
  h3 {
    color: $color-text;
    font-size: 18px;
    margin: 20px auto 5px;
  }
  .link__card {
    display: block;
    color: $color-secondary;
    font-size: 12px;
    font-weight: 600;
  }
  .button__twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-light;
    font-size: 14px;
    background-color: $color-button-twitter;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    height: 30px;
    width: 181px;
    margin: 10px auto 30px;
    line-height: 1.43;

    .twitter-icon {
      font-size: 18px;
      color: $color-light;
      margin-right: 9.5px;
    }
  }
}

.form .hidden {
    display: none;
  }

  .js-collapsibleChild {
    animation: growDown .3s ease forwards;
    transform-origin: top center;
    opacity: 1;
    overflow: hidden;
  };

/**************************
*   Colores palettes      *
**************************/

.js-palette1 {
  .card-background {
    background-image: linear-gradient(
      to bottom,
      #bfcdd0,
      $color-background-card2
    );
  }
  .card__text--name {
    color: $color-palete1-dark;
    border-color: $color-palete1-normal;
  }

  .card__text {
    border-color: $color-palete1-normal;
  }

  .card__viewer--social {
    .social--item a {
    border-color: $color-palete1-light;
    color: $color-palete1-dark;

    &:hover {
        background-color: $color-palete1-light;
    }
        }
    }
}

.js-palette2 {
  // animation: animatedBackground .3s ease forwards;
  .card-background {
    background-image: linear-gradient(
      to bottom,
      rgb(241, 207, 207),
      rgb(226, 159, 171)
    ) !important;
  }
  .card__text--name {
    color: $color-palete2-dark;
  }

  .card__text {
    border-color: $color-palete2-normal;
  }

  .card__viewer--social {
    .social--item a {
    border-color: $color-palete2-light;
    color: $color-palete2-dark;


    &:hover {
        background-color: $color-palete2-light;
        color: white;
    }
    }
  }
}
.js-palette3 {
  .card-background {
    // background-image: linear-gradient(to bottom, rgb(17, 168, 110), rgb(29, 46, 122)) !important;
    background-image: linear-gradient(
      to bottom,
      rgb(245, 232, 173) 60%,
      rgb(192, 179, 130)
    ) !important;
  }
  .card__text--name {
    color: $color-palete3-dark;
  }

  .card__text {
    border-color: $color-palete3-normal;
  }

  .card__viewer--social {
      .social--item a{
    border-color: $color-palete3-light;
    color: $color-palete3-dark;

    &:hover {
        background-color: $color-palete3-light;
    }
    }
  }
}

.js-palette4 {
  .card-background {
    background-image: linear-gradient(
      to bottom,
      rgb(219, 159, 238),
      rgb(17, 33, 106)
    ) !important;
  }
  .card__text--name {
    color: $color-palete4-dark;
  }

  .card__text {
    border-color: $color-palete4-normal;
  }

  .card__viewer--social {
    .social--item a {
      border-color: $color-palete4-light;
      color: $color-palete4-dark;
    }
  }
}

.run-animation {
  animation: animatedBackground 2s ease;
}

.card__viewer--social {
    .social--item a{
  border-color: $color-palete4-light;
  color: $color-palete4-dark;

  &:hover {
    background-color: $color-palete4-light;
    color: white;
}
  }
}

.hide-design {
  animation: shrinkDesign 1s ease forwards;
}

.hide-fill {
  animation: shrinkFill 1s ease forwards;
}

.hide-share {
  animation: shrinkShare 1s ease forwards;
}


.animate-design {
    animation: shrinkDesign 1s ease forwards;
}

.animate-fill {
    animation: shrinkFill 1s ease forwards;
}

.animate-share {
    animation: shrinkShare 1s ease forwards;
}