<!-- Carousel Container -->
<div class="carousel__container">
  <!-- Bernard -->
  <article class="carousel__main js-bernard js-slide">
    <div class="carousel__image--container">
      <img
        class="carousel__image"
        src="./assets/images/bernard.jpg"
        alt="foto de Bernard"
        title="Bernard"
      />
    </div>
    <div class="carousel__text">
      <p class="quote">
        "Puedo arreglar casi cualquier dispositivo electrónico pero cuando
        conozco a alguien y tengo que presentarme prefiero usar siempre Maniac
        Coders Profile Cards"
      </p>
      <span class="firm">- Bernard -</span>
    </div>
  </article>

  <!-- Laverne -->

  <article class="carousel__main js-laverne js-slide">
    <div class="carousel__image--container">
      <img
        class="carousel__image"
        src="./assets/images/laverne.jpg"
        alt="foto de Laverne"
        title="Laverne"
      />
    </div>
    <div class="carousel__text">
      <p class="quote">
        "Las Tarjetas de Maniac Coders son tan profesionales que el hospital que
        me contrató creyó que era cirujana de verdad"
      </p>
      <span class="firm">- Laverne -</span>
    </div>
  </article>

  <!--  Hoagie -->

  <article class="carousel__main js-hoagie js-slide">
    <div class="carousel__image--container">
      <img
        class="carousel__image"
        src="./assets/images/hoagie.jpg"
        alt="foto de Hoagie"
        title="Hoagie"
      />
    </div>
    <div class="carousel__text">
      <p class="quote">
        "Esto para qué es? Disfruta lo que comes, porque como siempre digo: -No
        viviremos para ver el ayer."
      </p>
      <span class="firm">- Hoagie -</span>
    </div>
  </article>

  <!-- Verde -->

  <article class="carousel__main js-green js-slide">
    <div class="carousel__image--container">
      <img
        class="carousel__image"
        src="./assets/images/green.jpg"
        alt="foto de Verde"
        title="Verde"
      />
    </div>
    <div class="carousel__text">
      <p class="quote">
        "Maniac Coders profile cards hizo famoso a mi grupo de música. Es una de
        mis cosas favoritas además de la leche con cereales"
      </p>
      <span class="firm">- Verde -</span>
    </div>
  </article>

  <!-- Arrows -->

  <i class="fas fa-caret-left prev js-prev"></i>
  <i class="fas fa-caret-right next js-next"></i>
</div>
