<article class="carousel__container js-bernard">
  <div class="carousel__main">
    <div class="carousel__image--container">
      <img
        class="carousel__image"
        src="./assets/images/bernard.jpg"
        alt="foto de Bernard"
        title="Bernard"
      />
    </div>
    <div class="carousel__text">
      <p class="quote">
        "Puedo arreglar casi cualquier dispositivo electrónico pero cuando
        conozco a alguien y tengo que presentarme prefiero usar siempre Maniac
        Coders Profile Cards"
      </p>
      <span class="firm">- Bernard -</span>
    </div>
  </div>
</article>

<article class="carousel__container js-laverne hidden">
  <div class="carousel__main">
    <div class="carousel__image--container">
      <img
        class="carousel__image"
        src="./assets/images/laverne.jpg"
        alt="foto de Laverne"
        title="Laverne"
      />
    </div>
    <div class="carousel__text">
      <p class="quote">
        "Las Tarjetas de Maniac Coders son tan profesionales que el hospital que
        me contrató creyó que era cirujana de verdad"
      </p>
      <span class="firm">- Laverne -</span>
    </div>
  </div>
</article>

<article class="carousel__container js-hoagie hidden">
  <div class="carousel__main">
    <div class="carousel__image--container">
      <img
        class="carousel__image"
        src="./assets/images/hoagie.jpg"
        alt="foto de Hoagie"
        title="Hoagie"
      />
    </div>
    <div class="carousel__text">
      <p class="quote">
        "Esto para qué es? Disfruta lo que comes, porque como siempre digo: -No
        viviremos para ver el ayer."
      </p>
      <span class="firm">- Hoagie -</span>
    </div>
  </div>
</article>

<article class="carousel__container js-green hidden">
  <div class="carousel__main">
    <div class="carousel__image--container">
      <img
        class="carousel__image"
        src="./assets/images/green.jpg"
        alt="foto de Verde"
        title="Verde"
      />
    </div>
    <div class="carousel__text">
      <p class="quote">
        "Maniac Coders profile cards hizo famoso a mi grupo de música. Es una de
        mis cosas favoritas además de la leche con cereales"
      </p>
      <span class="firm">- Verde -</span>
    </div>
  </div>
</article>
