<form class="form" action="" method="post">
  <div class="wrapper">
    <div class="design">
      <!----------------------->
      <!--       DESIGN      -->
      <!----------------------->
      <div class="container__design">
        <!-- Collapsable parent: DESIGN title -->
        <div class="container__design--title js-collapsibleParent">
          <i class="main__menu-icon far fa-object-ungroup"></i>
          <h3>Diseña</h3>
          <i class="arrow fas fa-chevron-down"></i>
        </div>

        <!-- Collapsable child: PALETTES -->
        <div class="palettes__container js-collapsibleChild hidden">
          <span>Colores</span>
          <div class="palettes__options">
            <div class="option option1">
              <label for="palette1">
                <input
                  type="radio"
                  class="palette"
                  id="palette1"
                  checked="checked"
                  value="1"
                  name="palette"
                  required />
                <div class="palette__color"></div>
                <div class="palette__color"></div>
                <div class="palette__color"></div
              ></label>
            </div>
            <div class="option option2">
              <label for="palette2">
                <input
                  type="radio"
                  class="palette"
                  id="palette2"
                  value="2"
                  name="palette"
                  required
                />
                <div class="palette__color"></div>
                <div class="palette__color"></div>
                <div class="palette__color"></div>
              </label>
            </div>
            <div class="option option3">
              <label for="palette3">
                <input
                  type="radio"
                  class="palette"
                  id="palette3"
                  value="3"
                  name="palette"
                  required
                />
                <div class="palette__color"></div>
                <div class="palette__color"></div>
                <div class="palette__color"></div>
              </label>
            </div>
            <div class="option option4">
              <label for="palette4">
                <input
                  type="radio"
                  class="palette"
                  id="palette4"
                  value="4"
                  name="palette"
                  required
                />
                <div class="palette__color"></div>
                <div class="palette__color"></div>
                <div class="palette__color"></div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!----------------------->
    <!--       FILL        -->
    <!----------------------->
    <div class="fill">
      <div class="container__fill">
        <div class="container__fill--title js-collapsibleParent">
          <i class="main__menu-icon far fa-keyboard"></i>
          <h3>Rellena</h3>
          <i class="arrow fas fa-chevron-down"></i>
        </div>

        <div class="fill-box js-collapsibleChild hidden">
          <label for="name">Nombre completo</label>
          <input
            type="text"
            placeholder="Ej: Sally Jill"
            id="name"
            name="name"
            required
          />

          <label for="job">Puesto</label>
          <input
            type="text"
            placeholder="Ej: Front-end unicorn "
            id="job"
            name="job"
            required
          />

          <label for="profile-image">Imagen de perfil</label>
          <div class="btn-container">
            <input
              class="btn"
              type="file"
              id="profile-image"
              name="photo"
              value="Añadir imagen"
            />
            <button type="btn" class="btn-addimage">Añadir imagen</button>
            <div class="btn-tickimage"></div>
          </div>

          <label for="email">Email</label>
          <input
            class="email"
            type="email"
            placeholder="Ej: sally-hill@gmail.com"
            id="email"
            name="email"
            required
          />

          <label for="phone">Teléfono</label>
          <input
            class="phone"
            type="tel"
            placeholder="Ej: 555-55-55-55"
            id="phone"
            name="phone"
          />

          <label for="linkedin">Linkedin</label>
          <input
            type="text"
            placeholder="Ej: linkedin.com/in/sally.hill"
            id="linkedin"
            name="linkedin"
          />

          <label for="github">Github</label>
          <input
            type="text"
            placeholder="Ej: @sally-hill"
            id="github"
            name="github"
          />
        </div>
      </div>
    </div>

    <!----------------------->
    <!--       SHARE      -->
    <!----------------------->
    <div class="share">
      <div class="share__container">
        <div class="share__container--title js-collapsibleParent">
          <i class="fa fa-share-alt" aria-hidden="true"></i>
          <h3>Comparte</h3>
          <i class="arrow fas fa-chevron-down"></i>
        </div>
        <div class="share__container--button js-collapsibleChild hidden">
          <button
            class="button__card btn--disable"
            href=""
            title="Crear tarjeta"
            disabled
          >
            <i class="i__card far fa-address-card"></i>CREAR TARJETA
          </button>
        </div>
      </div>
    </div>
    <div class="carddone js-carddone hidden">
      <h3>La tarjeta ha sido creada</h3>
      <a class="link__card" href="" title="Enlace de la tarjeta"
        >http://www.loquesea.com</a
      >
      <a class="button__twitter" href="" title="Compartir en Twitter"
        ><i class="twitter-icon fab fa-twitter"></i>Compartir en twitter
      </a>
    </div>
  </div>
</form>
