<main class="page__main">
  <div class="main">
    <h1 class="main__title">
      <img
        class="main__title-img"
        src="./assets/images/logo-awesome-profile-cards.svg"
        alt="Logo de awesome profile cards"
      />
    </h1>
    <div class="main__text">
      <h2 class="main__text-h2">Crea tu tarjeta de visita</h2>
      <p class="main__text-p">
        Crea mejores contactos profesionales de forma fácil y cómoda
      </p>
    </div>
    <nav>
      <ul class="main__menu">
        <li class="main__menu-list item-1">
          <i class="main__menu-icon far fa-object-ungroup"></i>
          <p class="main__menu-text">Diseña</p>
        </li>
        <li class="main__menu-list item-2">
          <i class="main__menu-icon far fa-keyboard"></i>
          <p class="main__menu-text">Rellena</p>
        </li>
        <li class="main__menu-list item-3">
          <i class="main__menu-icon fas fa-share-alt"></i>
          <p class="main__menu-text">Comparte</p>
        </li>
      </ul>
    </nav>
    <button class="main__button" role="link" onclick="cardgenerator.html">
      Comenzar
    </button>
  </div>
</main>
