// Colors //
$color-primary: #114e4e;
$color-secondary: #e17334;
$color-background-card1: #bfcdd0;
$color-background-card2: #dde9ed;
$color-background: #f5f5f5;
$color-text: #54585a;
$color-dark: #000000;
$color-light: #ffffff;
$color-border: #d8d8d8;
$color-disable-btn: #d5d5d5;
$color-copy: #6b6b6b;
$color-button-twitter: #00a0f5;
$color-placeholder: #c5c5c5;

// Paletes //
$color-palete1-dark: #114e4e;
$color-palete1-normal: #438792;
$color-palete1-light: #a2deaf;

$color-palete2-dark: #420101;
$color-palete2-normal: #bd1010;
$color-palete2-light: #e95626;

$color-palete3-dark: #3e5b65;
$color-palete3-normal: #eab052;
$color-palete3-light: #a0c0cf;

/* $black-20: rgba(0, 0, 0, 0.2);
$light-khaki: #f9f4dc;
$white: #d5d5d5;
; */

// Fonts //
$font-primary: "Open Sans", sans-serif;
$font-cards: "Montserrat", sans-serif;
$font-title: "Merriweather", serif;

// Breakpoints //
$medium: 768px;
$large: 1024px;
