.footer {
  height: 110px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 20px;
  border-top: 1px solid $color-border;
  background-color: $color-light;
  //box-sizing: content-box;

  position: relative;
  bottom: 0;

  @include tablet {
    padding: 0;
    height: 60px;
    border-top: none;
  }

  &__text {
    font-family: $font-primary;
    color: $color-copy;
    font-size: 14px;
    opacity: 50%;
  }

  &__container {
    height: 40px;
    width: 103px;
    margin-top: 12px;
    @include tablet {
      margin: 0;
    }
  }

  .wrapper {
    flex-grow: 1;
    max-width: 1224px;
    height: 60px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    padding-left: 41px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
