.header {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include for-tablet {
    align-items: flex-start;
    padding-left: 40px;
  }

  &__main {
    height: 50px;
    width: 201px;
  }
}
