.main__card-generator {
  background-image: linear-gradient(to bottom, #f5f5f5, #ffffff 9%);

  .card-generator__wrapper {
    display: grid;
    max-width: 768px;
    margin: auto;

    @include tablet {
      grid-template-columns: 399px 329px;
    }
    @include desktop {
        grid-template-columns: 1fr 585px;
        max-width: 1024px;
    }

    /* Colocar card-viewer en tableta y desktop */
    .card__viewer {
      @include tablet {
        grid-column: 2 / 3;
        grid-row: 1;
      }

      @include desktop {
          grid-column: 2 / 3;
      }
    }
    /* Colocar form en tableta y desktop */

    .form {
      @include tablet {
        grid-column: 1 / 2;
        grid-row: 1;
      }

      @include desktop {
        grid-column: 1 / 2;
      }
    }
  }
}
