.card-generator {
  height: 100vh;
}

.main__card-generator {
  background-image: linear-gradient(to bottom, #f5f5f5, #ffffff 9%);

  .card-generator__wrapper {
    display: grid;
    max-width: 768px;
    margin: auto;
    border: solid 1px blue;

    @include tablet {
      grid-template-columns: 399px 329px;
      height: 800px;
    }
    @include desktop {
      grid-template-columns: 1fr 585px;
      max-width: 1024px;
    }

    /* Colocar card-viewer en tableta y desktop */
    .card__viewer {
      @include tablet {
        grid-column: 2 / 3;
        grid-row: 1;
      }

      @include desktop {
        grid-column: 2 / 3;
      }
    }
    /* Colocar form en tableta y desktop */

    .form {
      @include tablet {
        grid-column: 1 / 2;
        grid-row: 1;
      }

      @include desktop {
        grid-column: 1 / 2;
      }
    }
  }
}

// Evil bot
.evil-bot__container {
  position: fixed;
  border: solid 1px red;
  bottom: 80px;
  right: 0;
  width: 100px;
  height: 100px;
  z-index: 10;
  background-image: url("../images/stop.png");
  background-size: contain;
  background-position: center;

  @media all and (max-width: 768px) {
    // Appear when scroll...

    bottom: 358px;
  }

  &:hover {
    background-image: url("../images/talk.gif");
  }
}
