.page__main {
  background-color: $color-background;
  text-align: center;
  flex-grow: 1;
  display: flex;
}
.main {
  width: 100%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 50px;

  &__title {
    width: 250px;
    height: 62px;
    margin-bottom: 60px;

    &-img {
      width: 100%;
    }
  }
  &__text {
    margin-bottom: 17.8px;
    &-h2 {
      font-family: $font-title;
      font-size: 1.2rem;
      font-weight: 900;
      color: $color-secondary;
    }
    &-p {
      font-family: $font-primary;
      font-size: 0.8rem;
      font-weight: normal;
      color: $color-primary;
    }
  }
  &__menu {
    width: 268px;
    // height: 73.8px;
    border-radius: 4px;
    border: solid 1.6px rgba(027, 142, 006, 0.21);
    padding: 15px 20px 17.8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;

    &-list {
      width: 60px;
      height: 48.8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-icons {
      font-size: 1.4rem;
      font-weight: normal;
      color: $color-palete4-light;
    }
    &-text {
      font-family: $font-primary;
      font-size: 0.8rem;
      font-weight: normal;
    }
    .item-1 {
      grid-column: 1 / 2;
    }
    .item-2 {
      grid-column: 2 / 3;
    }
    .item-3 {
      grid-column: 3 / 4;
    }
  }
  &__button {
    width: 129px;
    height: 42px;
    border-radius: 21px;
    background-color: #c479d5; //$color-palete1-normal;
    border: #c479d5; //$color-palete1-normal;
    color: $color-light;
    font-family: $font-primary;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 38px;
    padding: 10px 20px;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
      background-color: $color-palete4-normal; //$color-palete1-dark;
    }
  }
}

@include tablet {
  .main {
    // height: 963px;
    padding: 70px 0 50px;
    justify-content: flex-end;

    &__title {
      width: 419px;
      height: 105px;
      margin-bottom: 100px;
    }
    &__text {
      margin-bottom: 27px;
      &-h2 {
        font-size: 1.5rem;
      }
      &-p {
        font-size: 1rem;
      }
    }
    &__menu {
      width: 325px;
      // height: 86px;
      border-radius: 5px;
      border: solid 2px rgba(027, 142, 006, 0.21);
      //  rgba(225, 115, 52, 0.21);
      grid-column-gap: 30px;
      &-list {
        width: 75px;
        height: 61px;
      }
      &-icons {
        font-size: 1.75rem;
      }
      &-text {
        font-size: 1rem;
      }
    }
    &__button {
      margin-top: 35px;
    }
  }
}

/********* Animation *********/

.main__menu-icons {
  animation: up-fade 3s ease;
}

.main__menu-text {
  animation: drop-fade 3s ease;
}
