@import "core/variables";
@import "core/mixins";
@import "core/reset";
@import "components/carousel";
@import "components/buttons";
@import "components/form";
@import "components/animations";
@import "layout/page";
@import "layout/header";
@import "layout/main";
@import "layout/main-cardgenerator";
@import "layout/card-viewer";
@import "layout/footer";
@import "pages/index";
